* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #efefef;
}


/* navbar */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    top: 0;
}

.nav__menu {
    list-style: none;
}

.nav__menu li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__menu a, .nav__menu p {
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav__menu li a{
    transition: all 0.3s ease 0s;
}

.nav__menu li a:hover {
    color: #c0c0c0;
}


/* artist stuff */
.artist__collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px 5%;
}

.artist {
    background-color: #c0c0c0;
    border-radius: 10px;
    border: 5px solid #efefef;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.artist .artist__name {
    text-align: center;
    font-size: 5rem;
    background-image: linear-gradient(to bottom right, blue, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.artist h2 {
    color: #444444;
    font-size: 3rem;
    text-align: center;
}


/* album and single lists */
.media__list{
    list-style: none;
    display: flex;
    padding-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.media__list li {
    height: 200px;
    width: 200px;
    margin: 20px 10px;
}

.media__list li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
}


/* how each image and title is displayed */

.media__list img{
    height: 100%;
    width: 100%;
}

.media__list h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
}